/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Comic Sans MS, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #044211;
  color: white;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
.navbar a {
  text-decoration: none;
  color: white;
}

/* Hero */
.hero {
  padding: 50px;
  text-align: center;
  background: #AEF1E4;
}

/* Projects */
.projects {
  padding: 30px;
  background: rgb(163,182,225);
}
.project-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.project-card {
  background: #DAB4F5;
  padding: 15px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
}
.project-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: #DAB4F5;
  color: rgb(8,5,5);
  text-decoration: none;
  border-radius: 5px;
}

/* About */
.about {
  padding: 30p;
  background: #B3FDB0;
  text-align: center;
}

/* Footer */
footer {
  background: #8669FA;
  color: white;
  text-align: center;
  padding: 15px;
}
